{% extends "base.html" %}

{% block content %}
{% set about = get_page(path="about.md") %}
{% set writings = get_section(path="posts/_index.md") %}
{% set talks = get_section(path="talks/_index.md") %}
<main class="page-content">
    {{ post_macros::content(page=about, extra=config.extra) }}

    <section class="section-latest">
        <h2>Latest</h2>
        <div class="section-grid">
            <div>
                <h3>Writings</h3>
                {% if writings.pages | length > 0 %}
                    {% for page in writings.pages | slice(end=3) %}
                        {% include "post_item.html" %}
                    {% endfor %}
                {% else %}
                    <p>Coming soon</p>
                {% endif %}
            </div>
            <div>
                <h3>Talks</h3>
                {% if talks.pages | length > 0 %}
                    {% for page in talks.pages | slice(end=3) %}
                        {% include "post_item.html" %}
                    {% endfor %}
                {% else %}
                    <p>Coming soon</p>
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% endblock content %}
