<section class="list-item">
    <h1 class="title">
        <a href={{ page.permalink }}>{{ page.title }}</a>
    </h1>

    <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
    <span>| {{ page.reading_time }} {{ config.extra.translations[lang][0].read_time }}</span>
    {% if page.extra.author %}
        <span>| {{ config.extra.translations[lang][0].posted_by }} <a href="{{ page.extra.author.social }}" target="_blank">{{ page.extra.author.name }}</a></span>
    {% endif %}

    <br />
    <div class="description">
        {% if page.description %}
            {{ page.description }}
        {% elif page.summary %}
            {{ page.summary }}&hellip;
        {% else %}
            {% set hide_read_more = true %}
        {% endif %}
    </div>

    {% if not hide_read_more %}
        <a class="readmore" href={{ page.permalink }}>{{ config.extra.translations[lang][0].show_more }}</a>
    {% endif %}
</section>
